<div class="post">
    <div class="post-header">
        <img [src]="" alt="User Image">
        <div class="post-user-info">
            <h4>{{ post.userId }}</h4>
            <p>Title</p>
            <span>{{ post.createdAt }}</span>
        </div>
    </div>
    <p class="post-content">{{ post.Content }}</p>
    <div class="post-engagement">
        <button><i class="fas fa-thumbs-up"></i> Like</button>
        <button><i class="fas fa-comment"></i> Comment</button>
        <button><i class="fas fa-share"></i> Share</button>
    </div>
</div>
