<div class="post">
    <div class="post-header">
        <img src="profile-pic.jpg" alt="User Image">
        <div class="post-user-info">
            <h4>Wahab Hussain</h4>
            <p>Senior Developer at TechCorp</p>
            <span>2h ago</span>
        </div>
    </div>
    <p class="post-content">{{ post.content }}</p>
    <div class="post-engagement">
        <button><i class="fas fa-thumbs-up"></i> Like</button>
        <button><i class="fas fa-comment"></i> Comment</button>
        <button><i class="fas fa-share"></i> Share</button>
    </div>
</div>