<!-- Right Sidebar -->
<aside class="sidebar right-sidebar">
    <div class="trending-news">
        <h4>Trending News</h4>
        <ul>
            <li><a href="#">Breaking news: Major tech breakthrough!</a></li>
            <li><a href="#">Tips for remote work productivity</a></li>
            <li><a href="#">Upcoming webinars you should join</a></li>
        </ul>
    </div>
    <div class="suggested-connections">
        <h4>Suggested Connections</h4>
        <ul>
            <li>
                <img src="profile-pic.jpg" alt="User Image">
                <p>Zulfiqar </p>
                <button>Connect</button>
            </li>
            <li>
                <img src="profile-pic.jpg" alt="User Image">
                <p>Amir</p>
                <button>Connect</button>
            </li>
        </ul>
    </div>
</aside>